<h1>All Classes</h1>

<% @classes.each do |school_class| %>
    <h2><%= link_to school_class.title, school_class_path(school_class) %></h2>
    <h3>Room Number: <%= school_class.room_number.to_s %></h3>
<% end %>